!!!
%head
  %title= @title
  :javascript
    var ROOT = "#{url('/')}";
  = include_gon
  - %w{jquery-1.7.2.min.js json2.js underscore-min.js backbone-min.js application.js bootstrap.js}.each do |jsfile|
    %script{type: 'text/javascript', src: url("/js/#{jsfile}")}
  - %w{bootstrap.min.css application.css}.each do |cssfile|
    %link{rel: 'stylesheet', href: url("/css/#{cssfile}"), type: 'text/css', media: 'screen'}
  %script{type: 'text/javascript', src: "https://www.google.com/jsapi"}
  :javascript
    google.load("visualization", "1", {packages:["corechart", "table"]});
%body
  %script#widget-template{type: 'text/template'}
    #plotarea
    #chart-controls
      .form-inline
        %button#refresh.btn.btn-mini
          %i.icon-refresh
          Refresh
        <% if(type != 'table'){ %>
        %span.space
        %label
          Cutoff min:
          %input.btn-mini#cutoff-min
        %span.space
        %label
          Cutoff max:
          %input.btn-mini#cutoff-max
        <% } %>
        %span.space
        %label
          Refresh:
          %input.btn-mini#need-refresh{type: :checkbox, checked: :true}
        <% if(type != 'pie'){ %>
        %label
          Timespan:
          %select#extend-timespan-val.btn-mini.span1
            %option{value: 60, selected: true} 1 minute
            %option{value: 60 * 5} 5 minutes
            %option{value: 60 * 30} 30 minutes
            %option{value: 60 * 60 * 2} 2 hours
            %option{value: 60 * 60 * 6 } 6 hours
            %option{value: 60 * 60 * 24} 1 day
            %option{value: 60 * 60 * 24 * 2} 2 days
            %option{value: 60 * 60 * 24 * 7} 1 week
            %option{value: 60 * 60 * 24 * 7 * 2} 2 weeks
            %option{value: 60 * 60 * 24 * 30} 1 month
          %button#extend-timespan.btn.btn-mini
            <% if(type != 'table'){ %>
            %i.icon-arrow-left
            <% } else { %>
            %i.icon-arrow-down
            <% } %>
            Extend
          %button#reset-timespan.btn.btn-mini
            <% if(type != 'table'){ %>
            %i.icon-arrow-right
            <% } else { %>
            %i.icon-arrow-up
            <% } %>
            Reset
        <% } %>
    %hr

  .container#main
    .row
      .span10.offset1
        .navbar
          .navbar-inner
            .container
              %span.brand= @title 
              %ul.nav#page-titles
        #widgets.row

